#hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;


    #overlay {
        background-color: rgba(var--black0), 0.35);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        section {

            h1 {
                color: var(--white);
            }



            button {}
        }
    }