#hero {
    background-image: url("../img/heroimage.jpg");
    background-size: cover;
    background-position: center;

    #overlay {
        section {

            h1 {}

            button {}
        }
    }
}