#hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center top;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

h1 {
  margin: 0;
  color: var(--white);
  font-size: rem-calc(70);
}

span {
  color: rgba(var(--mintgreen));
}

button {
  border: none;
  background-color: rgba(var(--mintgreen));
  color: var(--white);
  padding: 25x 40px;
  border-radius: 90px;
  font-size: rem-calc(25);
}