#hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center top;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    @include md {
        height: 70vh;

        @include lg {
            height: 60vh;

        }

        h1 {
            margin: 0;
            color: var(--white);
            font-size: rem-calc(70);

            @include md {
                font-size: rem-calc(30);
            }



            span {
                color: rgba(var(--mintgreen));
            }

            button {
                border: none;
                background-color: rgba(var(--mintgreen));
                color: var(--white);
                padding: 25x 40px;
                border-radius: 32px;
                margin-top: 24px;
                font-size: rem-calc(25);

            }

            @include md {
                padding: 20x 30px;
                font-size: rem-calc(20);
            }