#hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center top;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    @include md {
        height: 80vh;
    }
}

h1 {
    margin: 0;
    color: var(--white);
    font-size: rem-calc(100);

    @include md {
        font-size: rem-calc(50);
    }
}



span {
    color: rgba(var(--mintgreen));
}


button {
    border: none;
    background-color: rgba(var(--mintgreen));
    color: var(--white);
    padding: 20x 80px;
    border-radius: 90px;
    margin-top: 24px;
    font-size: rem-calc(15);

    @include md {
        padding: 15px 40px;
        border-radius: 100px;
        margin-top: 12px;
        font-size: rem-calc(25);
    }
}