#hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center top;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include md {
        height: 80vh;
    }
}

h1 {
    margin: 0;
    color: var(--white);
    font-size: rem-calc(20);

    @include md {
        font-size: rem-calc(35);

        @include lg {
            font-size: rem-calc(50);
        }
    }
}


span {
    color: rgba(var(--mintgreen));
}


button {
    border: none;
    background-color: rgba(var(--mintgreen));
    color: var(--white);
    border-radius: 90px;
    margin-top: 8px;
    font-size: rem-calc(15);
    padding: 10px 30px;

    @include md {
        padding: 12px 35px;
        border-radius: 100px;
        margin-top: 16px;
        font-size: rem-calc(20);

        @include lg {
            font-size: rem-calc(30);
            padding: 15px 45px;
            padding-top: 20;
            border-radius: 100px;
            margin-top: 16px;
            font-size: rem-calc(25);
        }
    }
}